body{
  /* background-color:#fec196 ; */
  background-image: linear-gradient(to bottom right,#fec196,#f0835c);
  overflow-y: hidden;

    }
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    }
 
    .block::-webkit-scrollbar{
        display: none;
    }
    .box11{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      /* background-image: linear-gradient(to right,#ffdd00f5,#fbaf34ef); */
      background-image: linear-gradient(to top left,#ffebc2,#ffce7e);
  
      /* background-color: #ffebc2; */
      margin-top: 30px;
      /* margin-bottom: 20px; */
      margin-left: 225px;
      margin-right: 60px;
      border-radius: 50px;
      width: 70%;
      height: 680px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.822);
      border-width: 7px;
    }
    .box22{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      color: rgb(255, 255, 255);
      margin-left:50px;
      background-color:#fdbc0c ;
      height: 175px;
      width: 90%;
      border-radius: 55px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.883);
      border-width: 6px;
      display: flex;
      justify-content: center;
    }
  .box1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* background-image: linear-gradient(to right,#ffdd00f5,#fbaf34ef); */
    background-image: linear-gradient(to top left,#ffebc2,#ffce7e);

    /* background-color: #ffebc2; */
    margin-top: 30px;
    /* margin-bottom: 20px; */
    margin-left: 225px;
    margin-right: 60px;
    border-radius: 50px;
    width: 70%;
    height: 680px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.822);
    border-width: 7px;
  }
  .box2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: rgb(255, 255, 255);
    margin-left:50px;
    background-color:#fdbc0c ;
    height: 275px;
    width: 90%;
    border-radius: 55px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.883);
    border-width: 6px;
    display: flex;
    justify-content: center;
  }
  .bar{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.883);
    border-width: 5px;
      margin-top: 10px;
      margin-left: 20px;
      height: 100px;
      width: 95%;
      display: flex;
      justify-content: center;
      background-color: #fdbc0c ;
      color: rgb(255, 255, 255);
      font-weight: bolder;
  }
  .block{
    /* background: transparent; */
    background-color: #ffebc2;    /* margin-top: 100px; */
    margin-left: 70px;
    margin-bottom: 100px;
    margin-top: -30px;
    width: 85%;
    height: 690px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto auto ; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }
  .card{
    box-shadow: 0 4px 8px 0 #f9b185;
    transition: 0.3s;
    width: 260px;
    height: 280px;
    border-radius: 20px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
    text-align: center;
    align-items: center;
    }
    .card:hover {
      box-shadow: 0 8px 16px 0 #f58a47;
      cursor: pointer;
    } 
    
     .container {
      padding: 2px 16px;
      color: #266150;
    } 
    
    a{
        color: white;
        text-decoration: none;
    }
    .addproduct{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 55px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.883);
        border-width: 6px;
        background-color: rgb(255, 255, 255);
        margin-top: -200px;
        margin-left: 120px;
        width: 75%;
        height: 390px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vector{
      background: tomato;
    }
    .productform{
      /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
      margin-left: 30px;
      margin-top: 20px;
        /* margin: 20px; */
        padding: 20px;
        /* background-color: #ffd5b5 ; */
        width: 40%;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        
        
    }
    .addproduct1{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 55px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.883);
        border-width: 6px;
        background-color: rgb(255, 255, 255);
        margin-top: -100px;
        margin-left: 120px;
        width: 75%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vector1{
      background: tomato;
    }
    .productform1{
      display: flex;
      align-items: center;
      float: right;
      /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
      margin-left: 30px;
      margin-top: -130px;
        /* margin: 20px; */
        padding: 10px;
        /* background-color: #ffd5b5 ; */
        width: 80%;
        color: rgb(2, 2, 2);
        /* background-color: rgb(160, 54, 54); */
        background: transparent;
        
        
    }
    .postform .txtfield{
      position: relative;
      border-bottom: 2px solid #adadad;
    }
    .productform .txtfield{
      position: relative;
      border-bottom: 2px solid #adadad;
      margin-top: 10px;
      margin-bottom: 20px;
    
    }
    .txtfield label{
    position: absolute;
    /* opacity: 0; */
    top: 70%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    width: 100px;
    /* background-color: teal; */
    }
    .txtfield input{
      /* margin-top: 20px; */
      height: 40px;
      font-size: 16px;
      border:none;
      outline: none;
      margin-bottom: -25px;
    }
    .txtfield span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #c49618;
      transition: .5s;
    }
    .txtfield input:focus ~ label,
    .txtfield input:valid ~ label{
      top: -5px;
      color: #d9a926;
    }
    .txtfield input:focus ~ span::before,
    .txtfield input:valid ~ span::before{
      width: 100%;
    }
    /* .productform button {
      background-color: black;
      color: rgb(235, 194, 119);
      width: 30%;
      margin: 10px;
      padding: 10px;
      border-radius: 15px;
      font-size: 12px;
    } */
    .btn{
      width: 150px;
      height: 70px;
      margin-top: 20px;
      border: 1px solid;
      text-transform: uppercase;
      background-color: teal;
      border-radius: 8px;
      font-size: 18px;
      color: #e9f4fb;
      font-weight: 500;
      cursor: pointer;
      outline: none;
     
    }
    
    .btn:hover{
      border:2px solid #074042;
      color: white;
      transition: .5s;
      transform: scale(1.02);
      border: none;
    }
     .nav-center {
      height: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    }
    
    /* .nav-header {
      flex: 4;
    } */
    
    .nav-header h1 {
      color: black;
      font-size: 22px;
      margin-left: 45px;
      margin-right: -8px;
    }
    
    .profile {
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
    }
    
    .profile p {
      margin-bottom: 0;
    }   
    
    .productdetail{
      display:flex;
      justify-content:center;
      overflow:hidden;
      padding:30px;
    }
    .image{
      border-radius:10px;
      width:40%; 
      height:40%;
      display: block;
      margin:auto;
      width: 50%;
    }
    .description{
      /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
      /* margin-left: -100px; */
      margin-top: 20px;
      /* padding:30px; */
        /* margin: 20px; */
        /* padding: 20px; */
        /* background-color: #ffd5b5 ; */
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);   
    }

    .newsfeeds::-webkit-scrollbar{
      display: none;
  }
    .newsfeeds{
      margin-left: 160px;
      margin-top: -200px;
      background-color: rgb(255, 226, 194);
      width: 70%;
      height: 500px;
      justify-content: center;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: auto auto auto ;
    border-radius: 55px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.883);
    border-width: 6px;
  }
  .newscard{
    box-shadow: 0 4px 8px 0 #f9b185;
    transition: 0.3s;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    background-color: #ffd5b5;
    padding: 33px 10px 10px 33px; 
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;
  }