*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: purple;
}
.box{
    display: flex;
    /* justify-content: center; */
    background-color: purple;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}
.bar{
    
    height: 90px;
    width: 75%;
    background-color: #cb96fe;
}
.block{
    
    height: 450px;
    width: 75%;
    background-color: yellow;
    display: grid;
    grid-template-columns: auto auto ;
    
}
.cont1{
    background: yellowgreen;
    width: 300px;
    padding: 60px;
}
.cont2 {
    background: black;
    width: 630px;
    margin: 0%;

}