*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: tomato;
}
.box{
    display: flex;
    /* justify-content: center; */
    background-color: tomato;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}
.bar{
    
    height: 90px;
    width: 75%;
    background-color: teal;
}
.block{
    
    height: 410px;
    width: 75%;
    background-color: yellow;
    display: grid;
    grid-template-columns: auto auto ;
    
}
.cont1{
    background: yellowgreen;
    width: 50%;
    padding: 60px;
}
.cont2 {
    background: violet;
    width: 50%;
}