*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: tomato;
}
.box{
    background-color: tomato;
}
.bar{
    background-color: teal;
}
.block{
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.cont1{
    background: yellowgreen;
}
.cont2 {
    background: violet;
}