body{
  background-color:#fec196 ;
    }
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    }
 
    .block::-webkit-scrollbar{
        display: none;
    }
  .box1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* background-image: linear-gradient(to right,#ffdd00f5,#fbaf34ef); */
    background-color: #ffebc2;
    margin-top: 30px;
    /* margin-bottom: 20px; */
    margin-left: 230px;
    margin-right: 60px;
    border-radius: 50px;
    width: 70%;
    height: 680px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.822);
    border-width: 7px;
  }
  .box2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: black;
    margin-left:50px;
    background-color:#fdbc0c ;
    height: 275px;
    width: 90%;
    border-radius: 55px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.883);
    border-width: 6px;
    display: flex;
    justify-content: center;
  }
  .bar{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.883);
    border-width: 5px;
      margin-top: 10px;
      margin-left: 20px;
      height: 100px;
      width: 95%;
      display: flex;
      justify-content: center;
      background-color: #fdbc0c ;
      color: rgb(12, 12, 12);
      font-weight: bolder;
  }
  .block{
    /* background: transparent; */
    background-color: #ffebc2;    /* margin-top: 100px; */
    margin-left: 70px;
    margin-bottom: 100px;
    margin-top: -30px;
    width: 85%;
    height: 690px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto auto ; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }
  .card{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 250px;
      height: 250px;
      border-radius: 20px;
      background-color: #ffd5b5;
      padding: 10px 10px 10px 10px; 
       margin-top: 30px;
      margin-left: 20px;
      text-align: center;
    }
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      cursor: pointer;
    } 
    
     .container {
      padding: 2px 16px;
      color: #266150;
    } 
    
    a{
        color: white;
        text-decoration: none;
    }
    .addproduct{
        border-radius: 55px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.883);
        border-width: 6px;
        /* background-color: #ffeadf; */
        /* background-color: black; */
        background-color: white;
        margin-top: -200px;
        margin-left: 120px;
        width: 75%;
        height: 390px;
    }
    .productform{
      /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
      margin-left: 460px;
      margin-top: 30px;
        /* margin: 20px; */
        padding: 20px;
        /* background-color: #ffd5b5 ; */
        width: 30%;
        color: rgb(0, 0, 0);
        background-color: white;
        
    }
    .productform .txtfield{
      position: relative;
      border-bottom: 2px solid #adadad;
      margin-top: 10px;
      margin-bottom: 20px;
    
    }
    .txtfield label{
    position: absolute;
    /* opacity: 0; */
    top: 70%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    width: 100px;
    /* background-color: teal; */
    }
    .txtfield input{
      /* margin-top: 20px; */
      height: 40px;
      font-size: 16px;
      border:none;
      outline: none;
      margin-bottom: -25px;
    }
    .txtfield span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #07273b;
      transition: .5s;
    }
    .txtfield input:focus ~ label,
    .txtfield input:valid ~ label{
      top: -5px;
      color: #2691d9;
    }
    .txtfield input:focus ~ span::before,
    .txtfield input:valid ~ span::before{
      width: 100%;
    }
    .productform button {
      background-color: black;
      color: rgb(235, 194, 119);
      width: 30%;
      margin: 10px;
      padding: 10px;
      border-radius: 15px;
      font-size: 12px;
    }
     .nav-center {
      height: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    }
    
    .nav-header {
      flex: 4;
    }
    
    .nav-header h1 {
      color: #266150;
      font-size: 22px;
      margin-left: 55px;
    }
    
    .links {
      display: flex;
    }
    
    .links li {
      color: rgb(0, 0, 0);
      font-size: 16px;
      padding: 10px;
      margin: 0 5px;
      text-transform: capitalize;
    }
    
    .links li a {
      
      color: rgb(0, 0, 0);
      font-weight: bolder;
      transition: color 0.4s ease-in-out;
      text-decoration: none;
    }
    
    .nav-toggle {
      display: none;
    }
    
    .profile {
      color: #266150;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
    }
    
    .profile p {
      margin-bottom: 0;
    }
    
    ol,
    ul {
      padding-left: 0;
      margin-bottom: 0;
    }
    
    .toogle__items {
      flex: 6;
      display: flex;
      justify-content: space-between;
    }
    @media (max-width: 700px) {
      .nav-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 30px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        transition: transform 0.6s ease-in-out;
      }
    
      .nav-toggle.active {
        transform: rotate(90deg);
      }
    
      .toogle__items {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 92vh;
        top: 8vh;
        left: -100%;
        transition: transform 1s ease-in-out;
        background-color: black;
        overflow: hidden;
      }
    
      .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .profile {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
      }
    
      .links li a {
        color: #fff;
        translate: all 0.6s ease-in-out
      }
    
      .links li a:hover {
        color: #fff;
        font-weight: 600;
      }
    
      .toogle__items.active {
        transform: translatex(100%);
      }
      .social-icons {
        display: none;
      }
    }
    
    
    .wrapper .sidebar{
      border-radius: 55px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.883);
    border-width: 6px;
      background-color: #fdbc0c ;
        position: fixed;
        top: 0;
        left: 0;
        width: 500px;
        height: 100%;
        padding: 20px 0;
        transition: all 0.5s ease;
    }
    .wrapper .sidebar .profile{
        margin-bottom: 30px;
        text-align: center;
    }
    
    .wrapper .sidebar .profile img{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .wrapper .sidebar .profile h3{
        color: #000000;
        margin: 5px 0 5px;
    }
    
    .wrapper .sidebar .profile p{
        color: rgb(0, 0, 0);
        font-size: 14px;
    }
    .postbox::-webkit-scrollbar{
        display: none;
    }
    .wrapper .sidebar .addpost{
      background-color: #ffd5b5 ;
            color: rgb(0, 0, 0);
      width: 95%;
      padding: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: -10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .wrapper .sidebar .addpost label{
      margin: 10px;
    }
    .wrapper .sidebar .addpost button{
      background-color: black;
      color: rgb(235, 194, 119);
      width: 20%;
      margin-left: 20px;
      padding: 10px;
      border-radius: 15px;
      font-size: 12px;
    }
    .wrapper .sidebar .postbox{
        /* background-color: #ddaf94; */
        background-color: #ffebc2;

        /* margin-top: 100px; */
        margin-left: 10px;
        margin-bottom: 100px;
        width: 95%;
        height: 550px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: auto; 
    }
    .wrapper .sidebar .post{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 400px;
        height:300px;
        border-radius: 20px;
        background-color: #ffd5b5;
        /* padding: 10px 10px 10px 10px;  */
        margin-bottom: 0px;
         margin-top: 5px;
        margin-left: 35px;
        text-align: center;
    }
    .wrapper .sidebar ul li a{
        display: block;
        padding: 13px 30px;
        border-bottom: 1px solid #10558d;
        color: rgb(0, 0, 0);
        font-size: 16px;
        position: relative;
    }
    
    .wrapper .sidebar ul li a .icon{
        color: #dee4ec;
        width: 30px;
        display: inline-block;
    }
    .wrapper .sidebar ul li a:hover,
    .wrapper .sidebar ul li a.active{
        color: #0c7db1;
        background:white;
        border-right: 2px solid rgb(5, 68, 104);
    }
    
    .wrapper .sidebar ul li a:hover .icon,
    .wrapper .sidebar ul li a.active .icon{
        color: #0c7db1;
    }
    
    .wrapper .sidebar ul li a:hover:before,
    .wrapper .sidebar ul li a.active:before{
        display: block;
    }
    .wrapper .section{
        width: calc(100% - 500px);
        margin-left: 500px;
        transition: all 0.5s ease;
    }
    
    .wrapper .section .top_navbar{
        background: transparent;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
        margin-top: 50px;
        margin-bottom: -40px;
        /* background-color: #ffebc2; */
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 30px;
    
    }
    
    .wrapper .section .top_navbar .hamburger a{
        
        font-size: 20px;
        color: #000000;
        font-weight: bolder;
    }
    
    .wrapper .section .top_navbar .hamburger a:hover{
        color: #0000009f;
    }
    body.active .wrapper .sidebar{
        left: -1800px;
    }
    
    body.active .wrapper .section{
        margin-left: 0;
        width: 100%;
    }    